$title-font-stack: Helvetica, sans-serif;
$font-stack: "futura-pt", sans-serif;

$blue: #51B9DB;
$medium-gray: #C8CACC;
$light-gray:  #E1E1E1;
$dark-gray:   #737373;

body {
  color: $dark-gray;
  font: 1em $font-stack;
}


.intro {
  width: 100%;
  text-align: center;

  .content {
    position: absolute;
    width: 100%;

  }

  h1 {
    text-transform: uppercase;
    color: $blue;
    margin: 1.5rem 0 5.5rem 0;

    font-size: 2.5rem;
    line-height: 2.5rem;

    font-weight: 400;
    letter-spacing: 2px;
  }

  img.logo {
    width: 5rem;
  }

  img.down {
    width: 3rem;
    bottom: 4rem;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -1.5rem;
  }
}


.main {
  text-align: center;
}

.inbox-grid {

  width: 1000px;

  h2, h3 {
    color: $dark-gray;
  }


  .inbox {
    width: 200px;
    margin-bottom: 50px;

    img {
      width: 200px;
      background-size: contain;
    }
  }
}


.grid {
  display: inline-block;
  .cell {
    display: inline-block;   
  }
}









