<div class="intro">

  <div class="content">
    <img class="logo" src="img/logo-blue.png">
    <h1>365 Days of Inbox Zero</h1>
  </div>

  <img class="down" src="img/arrow-blue.png">

</div>

<div class="main">

  <div class="grid inbox-grid">
    <% (Date.parse('2013-02-07') .. Date.parse('2014-02-06')).each do |date| %>

      <div class="inbox cell">
        <a class="ir" href="javascript:;">
          <img src="img/logo-mask.svg"
               style="background-image: url(<%= "//mailbox-zero-inbox.s3.amazonaws.com/#{date.month}-#{date.day}-#{date.year}.jpg" %>);">
        </a>
      </div>

    <% end %>

  </div>

</div>